.menuIcon {
  width: 30px;
  height: 30px;
}

.menuIcon:hover {
  color: var(--accent);
}

.menuContainer {
  position: fixed;
  right: 0;
  top: 90px;
  height: calc(100vh - 90px);
  width: 300px;
  background: var(--primary);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-top: 30px;
}
