.userContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.userImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
