.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 10px 100px 0px 100px;
}

.imgContainer {
  width: 200px;
}

.image {
  object-fit: cover;
  border-radius: 5px;
  height: 600px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.title {
  font-size: 54px;
  max-width: 350px;
}

.avatar {
  border-radius: 100px;
}

.detailContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}


.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.detailContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.detailTitle {
  color: var(--primary);
  font-weight: 700;
  font-size: 20px;
}
