.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
  padding: 20px;
}

.lableContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  padding: 5px;
}

.input {
  font-size: 17px;
  width: 500px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: none;
  border: none;
  background-color: var(--primary20);
}

@media screen and (max-width: 620px) {
  .input {
    width: 250px
  }
}
