.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px 20px;
  border-bottom: 1px solid var(--primary);
}

.logo {
  font-weight: 900;
}
