.detailContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.avatar {
  border-radius: 100px;
}

.detailContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detailTitle {
  color: var(--primary);
  font-weight: 700;
  font-size: 20px;
}
